public/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Wifi Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/libs/jquery-1.9.1.min.js"></script>
    <script src="/watch.js"></script>
    <script src="/js/libs/superagent.js">;</script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Wifi Devices</h1>
      <h2>Commands</h2>
    </div>
    <hr>
    <div class="container">
      <h3>Add Devices</h3>
      <input value="http://192.168.0.11:3000/" class="host">
      <ul>
        <li class="command addDevice">add devices</li>
      </ul>
    </div>
    <hr>
    <div class="container">
      <h3>Device list</h3>
      <ul class="deviceList"></ul>
    </div>
    <hr>
    <div class="container deviceDetails">
      <h3>Device Details</h3>
      <div class="container"></div>
    </div>
  </body>
</html>

public/index.jade
extends layout

block content
	.container
		h1 Wifi Devices
		h2 Commands
	hr
	.container
		h3 Add Devices
		input.host(value="http://192.168.0.11:3000/")
		ul
			li.command.addDevice add devices
	hr
	.container
		h3 Device list
		ul.deviceList
	hr
	.container.deviceDetails
		h3 Device Details
		.container
